<div class="masthead">
    <h3 class="muted"><span class="circle-around-header-text">.Net</span> Technology Discussion Highlights</h3>
    <ul id="divMenuLoginOnPanelHolder-j">
        @Html.Action("LoginOnPanel", "Account", true)
    </ul>
</div>
